body[theme="red"] {
	--main-color: #e56b68;
}
body[theme="green-hyphe"] {
	--main-color: #479e98;
}
body[theme="green"] {
	--main-color: #21c784;
}
body[theme="ocean"] {
	--main-color: #097bb9;
}
body[theme="pink"] {
	--main-color: #e46d8d;
}
body[theme="blue"] {
	--main-color: #78b9fd;
}
