body {
	display: flex;
	justify-content: center;
	min-height: 100dvh;
	padding-top: 150px;
}

.wrapper {
	width: 350px;
	color: #fff;
	h1 {
		font-size: 36px;
		text-align: center;
	}
	.input-box {
		position: relative;
		width: 100%;
		height: 50px;
		margin: 30px 0;
		input {
			color: #fff;
			width: 100%;
			height: 100%;
			border: 2px solid rgba($color: #fff, $alpha: 0.2);
			border-radius: 40px;
			padding: 20px 45px 20px 20px;
			&::placeholder {
				color: #fff;
			}
		}
		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus,
		input:-webkit-autofill:active {
			-webkit-text-fill-color: #fff !important;
			-webkit-background-clip: text;
			-webkit-box-shadow: 0 0 0 30px #000 inset !important;
			border: 2px solid rgba($color: #fff, $alpha: 0.2) !important;
		}
		i {
			position: absolute;
			font-size: 20px;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.remember-forgot {
		display: flex;
		justify-content: space-between;
		font-size: 14.5px;
		margin: -15px 0 15px;
		label {
			input {
				accent-color: #000000;
				margin-right: 3px;
			}
		}
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.btn {
		width: 100%;
		height: 45px;
		background-color: #fff;
		border-radius: 40px;
		font-size: 16px;
		color: #333;
		font-weight: 600;
		position: relative;
		cursor: pointer;
		box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
	}
	.register-link {
		font-size: 14.5px;
		text-align: center;
		margin-top: 20px;
		a {
			text-decoration: none;
			color: #fff;
			font-weight: 600;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// Loading

#loading {
	background-color: white;
	z-index: 1000;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	place-items: center;
	border-radius: 40px;
	transition: 0.2s ease all;
	opacity: 1;
	pointer-events: all;
	cursor: not-allowed;
	&.hide {
		opacity: 0;
		pointer-events: none;
	}
	.loader2 {
		top: -15px;
	}
}

.loader2 {
	width: 28px;
	height: 28px;
	border: 3px solid #000;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
