.component {
	padding: 30px 10px 0;
	overflow: auto;
	display: none;
	&.show {
		display: grid;
		grid-template-rows: auto auto 1fr;
	}
}

.underDev {
	&.show {
		display: flex;
		justify-content: center;
		align-items: center;
		text-wrap: nowrap;
		* {
			font-size: 40px;
			color: #fff;
		}
	}
}
