.context-menu {
	position: fixed;
	bottom: 0;
	background-color: #252422;
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	z-index: 12;
	opacity: 0;
	pointer-events: none;
	transition: 0.2s ease all;
	transform: translate(0, 30px);

	* {
		color: #fff;
	}
	header {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
	}
	section {
		padding: 5px 0;
		border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
	}
	footer {
		padding: 5px 0;
	}
	.option {
		margin-block: 10px;
		padding: 10px 20px;
		display: flex;
		align-items: center;
		gap: 10px;
		&.red {
			* {
				color: #f02626;
			}
		}
		&:hover {
			background-color: #32312f;
		}
	}
	&.show {
		opacity: 1;
		pointer-events: all;
		transform: translate(0, 0);
	}
	.submenu-icon {
		margin-left: auto;
	}
}
.context-menu-overlay {
	z-index: 11;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	pointer-events: none;
	top: 0;
	left: 0;
	background-color: rgba(30, 30, 28, 0.5);
	transition: 0.2s ease all;
	&.show {
		opacity: 1;
		pointer-events: all;
	}
}
