@use "../themes" as *;

.add-task-btn {
	position: fixed;
	bottom: 80px;
	right: 20px;
	border-radius: 50%;
	width: 55px;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-color);
	* {
		color: #fff;
	}
}
